.u-section-1 {
  min-height: 840px;
}

.u-section-1 .u-shape-1 {
  width: 403px;
  height: 86px;
  margin: 43px calc(((100% - 941px) / 2) + 258px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  transition-duration: 1.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -62px calc(((100% - 941px) / 2) + 164px) 0 calc(((100% - 941px) / 2) + 186px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  transition-duration: 0.75s;
  margin: 40px calc(((100% - 941px) / 2) + 143px) 0 calc(((100% - 941px) / 2) + 207px);
}

.u-section-1 .u-video-1 {
  height: 618px;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 258px);
  }

  .u-section-1 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-right: calc(((100% - 940px) / 2) + 164px);
    margin-left: calc(((100% - 940px) / 2) + 186px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 158px);
    margin-left: calc(((100% - 940px) / 2) + 207px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 258px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 54px);
    margin-left: calc(((100% - 720px) / 2) + 76px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 48px);
    margin-left: calc(((100% - 720px) / 2) + 97px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 652px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  transition-duration: 1.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 35px 227px 0 267px;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.75s;
  margin: 35px 267px 0 380px;
}

.u-section-2 .u-group-1 {
  width: 359px;
  min-height: 84px;
  height: auto;
  margin: 66px 267px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0 0 15px;
}

.u-section-2 .u-image-1 {
  width: 263px;
  height: 263px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px 319px 51px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 117px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 157px;
    margin-left: 270px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 27px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 67px;
    margin-left: 180px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 67px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    margin-right: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 47px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 77px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 987px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 56px 112px 0 205px;
}

.u-section-3 .u-list-1 {
  margin: 58px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-image-1 {
  width: 865px;
  height: 521px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -31px 14px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 852px;
  height: 187px;
  background-image: none;
  margin: 56px 20px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-decoration: none solid rgb(34, 91, 137);
  margin: -110px 12px 0 105px;
}

.u-section-3 .u-icon-2 {
  width: 42px;
  height: 42px;
  background-image: none;
  margin: -153px 306px 0 auto;
  padding: 8px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-decoration: none solid rgb(34, 91, 137);
  font-size: 1.875rem;
  margin: -39px 362px 114px 398px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 624px;
    margin-right: 111px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-text-2 {
    margin-right: 33px;
  }

  .u-section-3 .u-text-3 {
    width: 144px;
    margin-left: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 1px;
    margin-left: 95px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 434px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 234px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -91px;
    margin-right: 252px;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 326px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 176px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 162px;
    margin-left: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 205px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 111px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -175px;
    margin-right: 62px;
    margin-left: 97px;
  }
}